@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --Blue: hsl(223, 87%, 63%);
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --Green: hsl(119, 100%, 26%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
}

/* Gerneral Syles */
body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  max-width: 1440px;
  text-align: center;
  margin: 0 auto;
}

.logo {
  width: 3.75rem;
  height: 1.125rem;
  margin: 5.9375rem 0 2.4375rem 0;
}

img {
  width: 100%;
}

/* Typography */
h1 {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--Gray);
  margin-bottom: 1rem;
}

span {
  font-weight: 700;
  color: var(--Very-Dark-Blue);
}

p {
  font-size: 0.8rem;
}

footer {
  font-size: 0.8rem;
  color: var(--Gray);
}

/* Email Input & Button */

input,
button {
  border-radius: 5rem;
  padding: 1rem;
  width: 100%;
}

input {
  color: var(--Gray);
  border: 1px solid var(--Pale-Blue);
  padding-left: 2rem;
}

.error-message {
  color: var(--Light-Red);
  margin-bottom: 1rem;
  font-style: italic;
}

#email-input:focus-visible,
button:focus-visible {
  outline: 3px solid var(--Blue);
  outline-offset: 5px;
}

.error-border {
  border: 1px solid var(--Light-Red);
}

.valid-message {
  color: var(--Green);
  margin-bottom: 1rem;
  font-style: italic;
}

.valid-border {
  border: 1px solid var(--Green);
}

#text {
  font-size: 0.7rem;
}

button {
  background-color: var(--Blue);
  color: #fff;
  border: none;
  font-weight: 600;
  flex: 1;
}

label {
  flex: 1;
}

.cta-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin: 2rem 2rem 0 2rem;
}

input {
  position: relative;
}

/* Illustration */
.illustration {
  margin: 4rem auto 0 auto;
  width: 90%;
}

/* Social Media Icons */
.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin: 7rem auto 1.5rem auto;
}

.social-media-icons li {
  border: 1px solid var(--Pale-Blue);
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1rem;
}

a {
  color: var(--Blue);
}

/* Footer */
footer {
  font-size: 0.7rem;
  margin-bottom: 3rem;
}

/* Tablet View */
@media only screen and (min-width: 501px) {
  .cta-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem auto 0 auto;
    width: 60%;
    max-height: 3rem;
  }

  label {
    flex: 4;
  }

  button {
    flex: 2;
  }

  .illustration {
    margin: 4rem auto 0 auto;
    max-width: 70%;
  }

  #text {
    position: absolute;
    margin-left: 1rem;
    padding: 1rem 0rem 0rem 1rem;
    left: 0;
    top: 80%;
  }
}

/* Desktop View */
@media only screen and (min-width: 1025px) {
  .logo {
    height: 1.4375rem;
    width: 4.8125rem;
  }

  /* Typography */
  h1 {
    font-size: 2.7rem;

    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1rem;
  }

  /* Email Input & Button */

  .cta-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem auto 0 auto;
    width: 40%;
    max-height: 3rem;
  }

  button {
    flex: 0.75;
  }

  label {
    flex: 2;
  }

  .error-message {
    margin-bottom: 0rem;
  }

  /* Illustration */
  .illustration {
    margin: 4rem auto 0 auto;
    width: 40%;
  }

  /* Social Media Icons */
  .social-media-icons {
    gap: 0.75rem;
    margin: 5rem auto 1.5rem auto;
  }

  .social-media-icons li {
    min-width: 1.5rem;
    min-height: 1.5rem;
    padding: 0.8rem;
    font-size: 0.8rem;
  }

  /* Footer */
  footer {
    font-size: 0.7rem;
  }
}
