@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  /* Colours */
  --Blue: hsl(223, 87%, 63%);
  --Pale-Blue: hsl(224, 87%, 70%);
  --Light-Red: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --Green: hsl(119, 100%, 26%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);

  /* Fluid Font-size */
  --step--5: clamp(0.37rem, calc(0.55rem + -0.2vw), 0.5rem);
  --step--4: clamp(0.5rem, calc(0.64rem + -0.16vw), 0.6rem);
  --step--3: clamp(0.66rem, calc(0.75rem + -0.1vw), 0.72rem);
  /* step--2 */
  --step--2: clamp(0.87rem, calc(0.86rem + 0.02vw), 0.88rem);
  /* step--1 */
  --step--1: clamp(1.04rem, calc(1rem + 0.2vw), 1.17rem);
  --step-0: clamp(1.25rem, calc(1.14rem + 0.47vw), 1.56rem);
  --step-1: clamp(1.5rem, calc(1.29rem + 0.88vw), 2.08rem);
  /* step-2 */
  --step-2: clamp(1.8rem, calc(1.46rem + 1.47vw), 2.78rem);
  --step-3: clamp(2.16rem, calc(1.62rem + 2.31vw), 3.7rem);
  --step-4: clamp(2.59rem, calc(1.77rem + 3.52vw), 4.93rem);
  /* step-5 */
  --step-5: clamp(4.11rem, calc(1.89rem + 5.21vw), 5.58rem);
  --step-6: clamp(3.73rem, calc(1.96rem + 7.56vw), 8.77rem);
  --step-7: clamp(4.48rem, calc(1.94rem + 10.83vw), 11.69rem);
  --step-8: clamp(5.38rem, calc(1.78rem + 15.33vw), 15.58rem);
  --step-9: clamp(6.45rem, calc(1.41rem + 21.5vw), 20.76rem);

  /* Fluid Space */
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.63rem, calc(0.63rem + 0vw), 0.63rem);
  --space-xs: clamp(0.94rem, calc(0.94rem + 0vw), 0.94rem);
  --space-s: clamp(1.25rem, calc(1.25rem + 0vw), 1.25rem);
  /* space-m */
  --space-m: clamp(1.88rem, calc(1.88rem + 0vw), 1.88rem);
  --space-l: clamp(2.5rem, calc(2.5rem + 0vw), 2.5rem);
  --space-xl: clamp(3.75rem, calc(3.75rem + 0vw), 3.75rem);
  --space-2xl: clamp(5rem, calc(5rem + 0vw), 5rem);
  --space-3xl: clamp(7.5rem, calc(7.5rem + 0vw), 7.5rem);
}

/* * {
  outline: 1px solid red;
} */

/* Gerneral Syles */
body {
  font-family: "Libre Franklin", sans-serif;
  padding: var(--space-m);
}

header {
  text-align: center;
}

main {
  display: grid;
  justify-items: center;
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
  padding: var(--space-m);
  max-width: 1440px;
  max-height: 1000px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  width: var(--step-5);
  margin: var(--space-m);
}

/* Typography */
h1 {
  font-size: var(--step-2);
  font-weight: 300;
  color: var(--Gray);
  margin-bottom: 1rem;
}

p {
  font-size: var(--step--1);
}

span {
  font-weight: 700;
  color: var(--Very-Dark-Blue);
}

footer {
  font-size: var(--step--2);
  color: var(--Gray);
  margin: 1rem 0;
}

/* Email Input & Button */

.cta-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

input,
button {
  border-radius: 5rem;
  padding: 0.75rem;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

input {
  color: var(--Gray);
  border: 1px solid var(--Pale-Blue);
  padding-left: 2rem;
}

.hide {
  display: none;
}

button:hover {
  transition: 0.2s ease-in-out;
  background-color: var(--Pale-Blue);
}

#text {
  font-size: var(--step--2);
  margin: 0.5rem auto;
}

.error-message {
  color: var(--Light-Red);
  font-style: italic;
}

#email-input:focus-visible,
button:focus-visible {
  outline: 3px solid var(--Blue);
  outline-offset: 5px;
}

.error-border {
  border: 1px solid var(--Light-Red);
}

.valid-message {
  color: var(--Green);
  font-style: italic;
}

.valid-border {
  border: 1px solid var(--Green);
}

button {
  background-color: var(--Blue);
  color: #fff;
  border: none;
  font-weight: 600;
}

/* Illustration */
.illustration {
  margin: var(--space-m);
}

/* Social Media Icons */
.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0rem;
}

.social-media-icons li {
  border: 1px solid var(--Gray);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: var(--step--2);
}

/* Desktop View */
@media only screen and (min-width: 768px) {
  .cta-wrapper {
    display: flex;
    flex-direction: row;
    width: 45%;
    margin-top: 2rem;
  }

  .flex-inner-container {
    flex: 2;
    display: flex;
    flex-direction: column;
  }

  .flex-inner-container {
    position: relative;
  }

  #text {
    position: absolute;
    top: 2.5rem;
    padding-left: var(--space-m);
  }

  #btn {
    flex: 1;
    height: 100%;
  }

  .illustration {
    max-width: 45%;
  }
}
